.text-logo {
  font-size:xx-large;
  font-family:monospace;
}

.mat-h1 {
  padding-top: 5vw;
  margin-left: 1%;
  color: white;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%  !important;

}

#initial-log-select {
  padding: 10px;
  padding-top: 10vh;
  background: linear-gradient(#439889, white);
}



.main-div {
  /* background-image: linear-gradient(#0f635a, white 25%);  */
  background: linear-gradient(#439889, white 25%);
  padding: 5%;
  padding-top: 80px;
}

mat-button-toggle-group {
  vertical-align: middle;
  float: right;
}
.log-selector-div {
  margin-top: 10px;
  padding-right: 20px;
  font-size: smaller;
  width: min-content;
}

#your-logs {
  color: grey;
  font-size: smaller;
  padding-left: 15px;
  padding-bottom: 20px;
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  #initial-log-select {
    padding: 10%;
    padding-top: 10vh;
  }
  .main-div {
    /* background-image: linear-gradient(#0f635a, white 25%);  */
    padding: 10%;
    padding-top: 80px;
  }

  .mat-h1 {
    padding-top: 0;
  }
  
}

@media (min-width: 1200px) {
  #initial-log-select {
    padding: 20%;
    padding-top: 10vh;
  }
}