<mat-toolbar class="toolbar" color="primary">

  <img src="../assets/wood.png" id="log-logo">
  <span class="text-logo">log</span>
  
  <span class="toolbar-spacer"></span>

  <div class="log-selector-div" *ngIf="!showDashboard && !showSpinner">
    <mat-form-field style="text-align: right;" appearance="none">
      <mat-select class="log-select" style="font-family: monospace;" [(value)]="sL.id">
        <mat-option (click)="toDashboard()">
          All Logs
        </mat-option>
        <mat-option (click)="openCreateDialog()">
          New Log
        </mat-option>
        <hr>
        <label id="your-logs">Your Logs</label>

        <mat-option *ngFor="let log of allLogs | async" [value]="log.id" (click)="onLogSelectionChange(log)"
          [selected]="sL.id == log.id">
          {{ log.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-spinner *ngIf="showSpinner" [diameter]="30" style="padding-right: 20px;" color="accent"></mat-spinner>

  <ngx-auth-firebaseui-avatar (onSignOut)="userSignedOut()"></ngx-auth-firebaseui-avatar>
  
</mat-toolbar>

<div id="initial-log-select" *ngIf="showDashboard; else main">
  <h1 class="mat-h1">
    Your Logs
    <mat-button-toggle-group appearance="legacy" #group="matButtonToggleGroup">
      <mat-button-toggle value="left" aria-label="grid view">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="list view">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </h1>
  
  <mat-spinner *ngIf="showSpinner" color="accent" style="left: 50%; margin-left: -3em; margin-top: 15%;"></mat-spinner>

  <app-select-grid [showSpinner]="showSpinner" [logList]="allLogs" (hasSelected)="userSelected($event)"></app-select-grid>
</div>

<ng-template #main>
    <div class="main-div">
      <!-- <span class="mat-h1">{{ sL.id }}</span> -->
      
      <app-main-dashboard [sL]="sL"></app-main-dashboard> 
      <!-- <app-log-table></app-log-table>  -->
    </div>
</ng-template>


