<form [formGroup]="logForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create a New Log</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Identification</mat-label>
            <input matInput formControlName="identifier" placeholder="Ex. VIN, S/N, ID#, etc">
            <mat-error *ngIf="addressForm.controls['identifier'].hasError('required')">
              The identifier is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <Span>Add up to 5 data fields for your log.</Span>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Field">
              <mat-option *ngFor="let state1 of states" [value]="state1.name" (onSelectionChange)="selection($event)">
                {{ state1.name }}
              </mat-option>
            </mat-select>
           
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value">
            <!-- <mat-error *ngIf="field1.value">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="numFields > 0">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Field">
              <mat-option *ngFor="let state2 of states" [value]="state2.name">
                {{ state2.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="numFields > 1">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Field">
              <mat-option *ngFor="let state3 of states" [value]="state3.name">
                {{ state3.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="numFields > 2">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Field">
              <mat-option *ngFor="let state4 of states" [value]="state4.name">
                {{ state4.name }}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="numFields > 3">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Field">
              <mat-option *ngFor="let state5 of states" [value]="state5.name">
                {{ state5.name }}
              </mat-option>
            </mat-select>
           
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="numFields<4">
        <div class="col">
          <button mat-button type="button" (click)="incrementFields()">
            + Add Field
          </button>
        </div>
      </div>
    
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Add Log</button>
    </mat-card-actions>
  </mat-card>
</form>
