
    <mat-card-header>
        <mat-card-title>
        {{ log.id }}
        <button mat-icon-button class="more-button" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="this.db.deleteLog(log)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-left: 20px;" class="log-card-content">
        <div *ngFor="let item of log.attributes | keyvalue">
            {{item.key}}: {{item.value}}
        </div>
    </mat-card-content>
