.log-card {
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 10px;
}

.log-card:hover {
  filter:black(100%);
  opacity: 0.5;
}

.log-card-content {
  padding-left: 15px;
}