<form [formGroup]="logForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create a New Log</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Identification</mat-label>
            <input matInput formControlName="identifier" placeholder="Ex. VIN, S/N, ID#, etc">
            <mat-error *ngIf="logForm.controls['identifier'].hasError('required')">
              The identifier is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <small>Add up to 5 attributes for your log.</small>

      <div class="row" *ngIf="fieldsAdded[0] == true">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="field_0" placeholder="Field">
              <mat-option *ngFor="let state0 of fields" [value]="state0.name">
                {{ state0.name }}
              </mat-option>
            </mat-select>
           
          </mat-form-field>
        </div>
        
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value" formControlName="value_0">
            <!-- <mat-error *ngIf="field1.value">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        
        <div class="col">
          <button mat-icon-button color="warn" (click)="removeField(0)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        
      </div>

      <div class="row" *ngIf="fieldsAdded[1] == true">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="field_1" placeholder="Field">
              <mat-option *ngFor="let state1 of fields" [value]="state1.name">
                {{ state1.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="value_1" placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="removeField(1)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="fieldsAdded[2] == true">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="field_2" placeholder="Field">
              <mat-option *ngFor="let state2 of fields" [value]="state2.name">
                {{ state2.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="value_2" placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="removeField(2)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="fieldsAdded[3] == true">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="field_3" placeholder="Field">
              <mat-option *ngFor="let state3 of fields" [value]="state3.name">
                {{ state3.name }}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="value_3" placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="removeField(3)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="fieldsAdded[4] == true">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="field_4" placeholder="Field">
              <mat-option *ngFor="let state4 of fields" [value]="state4.name">
                {{ state4.name }}
              </mat-option>
            </mat-select>
           
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="value_4" placeholder="Value">
            <!-- <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="removeField(4)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="numFields<4">
        <div class="col">
          <button mat-button type="button" (click)="addField()">
            + Add Field
          </button>
        </div>
      </div>    
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" type="submit">Add Log</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
