.text-logo {
  font-size:xx-large;
  font-family:monospace;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  z-index: 10;
}

.new-icon {
  position: absolute;
  top: 12px;
  right: 20px;
}

.grid-container {
  
  align-content: center;
}

.mat-h1 {
  margin-left: 2%;
  color: white;
}

.dashboard-card {
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 8px;
}

.dashboard-card:hover {
  filter:black(100%);
  opacity: 0.5;
}
