<mat-toolbar class="toolbar" color="primary">

  <img src="../assets/wood.png" id="log-logo">
  <span class="text-logo">log</span>
  <span class="toolbar-spacer"></span>
  <ngx-auth-firebaseui-avatar (onSignOut)="userSignedOut()"></ngx-auth-firebaseui-avatar>
  
</mat-toolbar>

<div *ngIf="authService.auth.user | async as user; else login" class="log-table-div">
    <!-- initial log selection screen -->
    <div id="initial-log-select">
      <app-dashboard *ngIf="showSelector; else main" (hasSelected)="userSelected($event)"></app-dashboard>
    </div>
    
    <app-sidebar [selectedLog]="selectedLog" *ngIf="!showSelector"></app-sidebar>
  
    
</div>
<ng-template #login>

  <ngx-auth-firebaseui-login
      [hidden]="!showLogin"
      [providers]="['google']"
      [guestEnabled]="false"
      (onCreateAccountRequested)="toggleView()">
  </ngx-auth-firebaseui-login>

  <ngx-auth-firebaseui-register
      [hidden]="showLogin"
      [providers]="['google']"
      [guestEnabled]="false"
      (onLoginRequested)="toggleView()">
  </ngx-auth-firebaseui-register>
  
</ng-template>  






  

