

<div *ngIf="authService.auth.user | async as user; else login">

    <app-authorized></app-authorized>

</div>
<ng-template #login>

  <mat-toolbar class="toolbar" color="primary">

    <img src="../assets/wood.png" id="log-logo">
    <span class="text-logo">log</span>
    
  </mat-toolbar>

  <ngx-auth-firebaseui-login
      [hidden]="!showLogin"
      [providers]="['google']"
      [guestEnabled]="false"
      (onCreateAccountRequested)="toggleView()">
  </ngx-auth-firebaseui-login>

  <ngx-auth-firebaseui-register
      [hidden]="showLogin"
      [providers]="['google']"
      [guestEnabled]="false"
      (onLoginRequested)="toggleView()">
  </ngx-auth-firebaseui-register>
  
</ng-template>  






  

