.sidenav-container {

  height: 100%;
}

.sidenav {
  padding-top: 60px;
  width: 321px;
  position: fixed;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}


.text-logo {
  font-size:xx-large;
  font-family:monospace;
}

#welcome-banner {
  font-family: monospace;
}

.log-table-div {
  padding: 50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

#login-register {
  align-items: center;

}