<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <img src="../assets/wood.png" id="log-logo">
  <span class="text-logo">log</span>

  <span class="toolbar-spacer"></span>

  <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <mat-list *ngIf="authService.auth.user | async as user">
        <mat-list-item id="welcome-banner">Hello, {{ user.displayName }}</mat-list-item>
        <mat-divider></mat-divider>
        
        <mat-list-item>Your Logs
          <span class="sidenav-spacer"></span>
          <button style="justify-self: flex-end;" mat-icon-button color="accent" aria-label="" (click)="openDialog()">
            <i class="material-icons">add_circle_outline</i>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item *ngIf="userLogs == 0" ><small>You do not have any logs.</small></mat-list-item>

        <mat-selection-list #showLogs [multiple]="false">
          <mat-list-option *ngFor="let log of userLogs" [value]="log">
            {{ log }}
          </mat-list-option>
        </mat-selection-list>
    
      </mat-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <!-- Add Content Here -->

    <!-- Main Content -->
    <div class="log-table-div">
      <app-log-table></app-log-table>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

