.grid-container {
  margin-top: 60px;
}

.mat-h1 {
  margin-left: 60px;
  color: white;
}

.dashboard-card {
  cursor: pointer;
  width: 75%;
  height: 70%;
  left: 15px;
  right: 15px;
  border-radius: 10px;
}
.dashboard-card:hover {
  filter:black(100%);
  opacity: 0.5;
}



.dashboard-card-content {
  padding-left: 15px;
}
