.text-logo {
  font-size:xx-large;
  font-family:monospace;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  z-index: 10;
}

.grid-container {
  padding-top: 5%;
  align-content: center;
}

.mat-h1 {
  margin-left: 7%;
  color: white;
}

.dashboard-card {
  cursor: pointer;
  width: 250px;
  height: 125px;
  left: 15px;
  right: 15px;
  border-radius: 10px;
}

.dashboard-card:hover {
  filter:black(100%);
  opacity: 0.5;
}
