<mat-spinner *ngIf="showSpinner" color="accent" style="margin:45%; margin-top: 15%;"></mat-spinner>
<div class="grid-container" *ngIf="!showSpinner">
  <h1 class="mat-h1">Your Logs</h1>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile (click)="onLogSelection('new')" [colspan]="1" [rowspan]="1">
      <!-- New Log Card-->
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" style="padding-top: 20px; text-align: center; padding-left: 0;">
          <mat-icon color="primary" style="font-size: 50px; padding-right: 25px;">add</mat-icon>
          <p style="font-weight: 500;">Add Log</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let log of logList" (click)="onLogSelection(log.id)" [colspan]="1" [rowspan]="1">
      <app-log-card [log]="log"></app-log-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
